body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f9;
}
header {
    background: #333;
    color: white;
    padding: 2rem 0;
}
main {
    padding: 20px;
}
footer {
    background: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
